Django==1.10.6
django-cors-headers==2.0.2
django-filter==1.0.1
djangorestframework==3.6.2
django-redis==4.4.0
numpy
pandas==0.21.0
SQLAlchemy
SciPy
pymysql
requests
Pillow
pyyaml
xlrd
wrapcache
docker
python-memcached
scikit-learn
apscheduler
gunicorn
pymongo
redis==2.10.3
celery==3.1.25
django-celery
pypinyin
statsmodels
mongoengine
numba
jieba
bs4
tushare
openpyxl